<div id="sign-up-container" class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center mb-3">Cadastre-se</h1>
            
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Seu nome completo" />
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control form-control-lg" placeholder="Seu melhor e-mail" />
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" placeholder="Sua senha" />
                </div>
                
                <button type="submit" class="btn btn-danger btn-lg w-100 mt-2">Criar conta</button>
            </form>
            
            <div class="text-end mt-2">
                <a href="#" class="text-white text-decoration-none forgot-password">Esqueci minha senha</a>
            </div>
            
            <p class="text-center mt-3 login-link">
                <span class="text-white">Já tem uma conta? </span> <a href="/login" class="text-danger text-decoration-none fw-bold">Faça Login</a>
            </p>
        </div>
    </div>
</div>
